<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Database</title>
    <script src="script.js" defer></script>
     <link rel="stylesheet" href="css/style.css">
    <meta name="keywords" content="this, is, for, search, engine, optimization">
    <meta name="description" content=" short summary of a webpage’s content. Search engines like Google often use this description in search results to give users a preview of the page before they click on it.">

</head>
<body>
    <h1 id="titleH1">Light-weight Database </h1>

    <!-- Send new message -->
    <input type="text" id="userInput" placeholder="Enter text">
    <button id="addButton">Add</button>
    <p id="sendResponse"></p>
    <br><br>
    <!-- Update message -->
    <input type="number" id="updateId" placeholder="Message ID">
    <input type="text" id="updateText" placeholder="New Text">
    <button id="updateButton">Update</button>
    <br><br>

    <!-- Delete message -->
    <input type="number" id="deleteId" placeholder="Message ID">
    <button id="deleteButton">Delete</button>
    <br><br>
    <!-- Get from DB -->
    <button id="getButton">Get All Records</button>
    <ul id="messagesList"></ul>


</body>
</html>